<h3>
  Add new todo:
</h3>

<form>
  <div class="form-group">
    <label for="description">Todo Description</label>
    <br>
    <input type="text" [(ngModel)]="todo.description" placeholder="description" name="description" />
    <p style="color: red">{{ errorMsg.description }}</p>
  </div>
  <div class="form-group">
    <label for="priority">Todo Priority</label>
    <br>
    <select [(ngModel)]="todo.priority" name="priority">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <p style="color: red">{{ errorMsg.priority }}</p>
  </div>
  <button (click)="add()" class="btn btn-info">Add todo</button>
</form>
